
  * {
    padding: 0%;
    margin: 0%;
    
  }

  .flex-container{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    

    
  }
  

  .card{
    width: 550px;
    border: 2px solid cornsilk;
    border-radius: 0% 0% 2% 2%;
    margin: 5px;

  }

  .card-o{
    width: 500px;
    border: 2px solid cornsilk;
    border-radius: 2% 2% 2% 2%;
    margin: 6px;

  }
  .card p,h2,h3,h4,h5{
    text-align: center;
    margin: 5px 3px;
    
  }



  .img{

    width: 450px;
    height: 400px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-left: 25px;

  }

  
  .new-card{
    display: flex;
    flex-direction: column;
  }

  header{
    background-color: rgb(147, 132, 127);
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    

  }
    

  a {
    color: black;
    font-size: medium;
    text-decoration:solid;
    font-family: sans-serif;
  }
   

  
  body{
  background-color: rgb(147, 132, 127) ;
}

  ul li {

    display: inline-block;
    margin-top: 20px;
    padding: 15px;
    padding-bottom: 10px;
    color: black;
  }

  .iframe-video{
    display: flex;
    margin: 15px 0%;
    align-items: center;
    

    }

    section {
    background-color: rgb(147, 132, 127);
}

    .fuentes h2 h3{
    font-family: sans-serif;
    font-size: 24px;
}



    footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    section {
    list-style-type: none;
    color: black;
    
}


    section {
    background-color: rgb(147, 132, 127);
}



  .grid-container{
  display:grid;
  height: 120vh;
  grid-template-rows: 90px auto 40px;
  
    }

    .grid-container{
      height: 100vh;
      display: grid;
      grid-template-columns: 0.2fr auto 0.4fr;
      grid-template-rows: 150px 1fr 1fr 100px;
      grid-template-areas: 
      "nav header header"
      "nav section section"
      "nav section section"
      "nav footer footer"
    
      ;
    }

    

    .card-c{
      width: 380px;
      border: 1px solid cornsilk;
      border-radius: 3% 3% 3% 3%;
      margin: 6px;
      text-align: center;

     

    }

.nav{
  background-color: rgb(147, 132, 127);
  color: black;
  margin-inline: 30%;
  padding: 1.5em 5%;

  display: flex;
  gap: 1.5em;
  align-items:center;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.nav_list h1{
  display: flex;
  padding: 0%;
  list-style: none;
  margin: 0%;
  justify-content: center;
  grid-auto-flow:column;
  text-align: center;
  gap: 1em;

  border: black 1px solid;
  
}



.nav__link{
  color:black; 
  text-decoration: none;
  font-weight: normal;
}


  @media (min-width: 700px) {
 
  
  .nav, .nav_list,.nav__link .grid-container .fle{
    margin: 5px;
    grid-row:auto;
    grid-area: auto;

  }

}